---
import { app } from "../firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import BaseLayout from '../layouts/Base.astro';
import "../styles/global.css";

const matches = import.meta.glob("../content/events/*.md", {eager: true});
const eventFiles = Object.values(matches);
const pageTitle = 'Leaderboard'
const events = eventFiles.map((e) => (e.frontmatter.name));
const numEvents = events.length;
const instCodes = ["iiserk", "iiserp", "iiserm", "iiserb", "iisertvm", "iisertir", "iiserbmp", "iisc", "cebs"];
const institutes = ["IISER Kolkata", "IISER Pune", "IISER Mohali", "IISER Bhopal", "IISER TVM", "IISER Triupati", "IISER Berhampore", "IISc Bengaluru", "CEBS"];
const numInst = instCodes.length;

const scores = instCodes.map((ins) => (eventFiles.map((e) => Math.max(Number(e["frontmatter"][ins]), 0))));

const totals = scores.map((score) => score.reduce((partialSum, a) => partialSum + a, 0));

var board = institutes.map((ins, i) => ([ins, totals[i]]));
const compare = (a: (string | number)[], b: (string | number)[]) => {
    if (a[1] >= b[1]) return -1;
    else return 1;
};
board.sort(compare);

var eventBoards = []; 
for (let i = 0; i < numEvents; ++i) {
  eventBoards.push(instCodes.filter((e) => eventFiles[i]["frontmatter"][e] >= 0).map((id, j) => ([institutes[j], eventFiles[i]["frontmatter"][id]])));
}
for (let i = 0; i < numEvents; ++i) {
  eventBoards[i].sort(compare);
}
---

<BaseLayout title= { pageTitle }>
  <div class="main-container">
    <h1>Leaderboard</h1>
    <select name="category" class="cat-select">
      <option value="total" selected>OVERALL</option>
      {
        events.map((e) => (<option value={e}>{e}</option>))
      }
    </select>
    <ul class="board" id="total">
      <li class="thead"> <span class="institute"> Institute </span> <span class="score">Score</span></li>
      {
        board.map((rec) => (
              <li> <span class="institute">{rec[0]}</span> <span class="score">{rec[1]}</span></li>
        ))
      }
    </ul>
    {
      eventBoards.map((eventBoard, i) => (
        <ul class="board event" id={"event"+i}>
          <li class="thead"> <span class="institute"> Institute </span> <span class="score">Score</span></li>
          {
            eventBoard.map((rec) => (
              <li> <span class="institute">{rec[0]}</span> <span class="score">{rec[1]}</span></li>
            )) 
          }
        </ul>
      ))
    }
  </div>
</BaseLayout>
<style>
  .main-container {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .cat-select {
    color: black;
    border-color: var(--accent-color);
    border-radius: 1rem;
    padding: 1em;
    background-color: var(--accent-color-2);
  }
  ul {
    width: 80%;
  }
  li {
    list-style: none;
  }

  .board {
    display: grid;
    grid-template-columns: 1fr;
  }

  .board li {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .thead {
    font-size: 2ch;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
  }
  li {
    border: 2px solid var(--accent-color-2);
  }
  .score {
    text-align: center;
  }

  @media (min-width: 850px) {
    .thead {
      border: none;
    }
    li {
      border: 2px solid transparent;
      border-radius: 1rem;
    }
    li:hover {
      border-color: var(--accent-color);
    }
  .institute{
    text-align: center;

  } 
  }
</style>
<script>
  const eBoards = document.querySelectorAll(".event");
  const overall = document.querySelector("#total");
  const allBoards = document.querySelectorAll(".board");
  const cat = document.querySelector("select");
  cat?.addEventListener("change", (e) => {
    const sel = cat.selectedIndex - 1;
    allBoards.forEach((b) => b.setAttribute("style", "display: none;"));
    if (sel === -1)  {
      const currentBoard = document.querySelector("#total");
      currentBoard?.setAttribute("style", "display: block");
    } else {
      const currentBoard = document.querySelector("#event"+sel);
      currentBoard?.setAttribute("style", "display: block");

    }
  });
  eBoards.forEach((b) => b.setAttribute("style", "display: none;"));
</script>